.aside-filter {
    &__tabs {
        display: flex;
        margin-bottom: 45px;
        
    }
    &__tab {
        font-family: 'SF Pro Display', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: #C4C4C4;
        width: 50%;
       
    }
    &__title {
        font-family: 'SFProDisplay-Semibold', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: $title-color;
        padding-left: 26px;     
    }
    
    &__toggle {
        display:block;
        cursor: pointer;
        margin-bottom: 20px;
        position: relative;
        &::before {
            content: '';
            background-image: url(../../images/content/drop-arrow.svg);
            width: 12px;
            height: 7.4px;
            position: absolute;
            left: 0px;
            bottom: 5px;
            transform: rotate(0deg);

        }
    }
    &__drop {
      &-content {
        display: flex;
        opacity: 0;
        margin-bottom: 0px;   
        max-height: 0px;    
    }
    }
    &__box {
        width: 50%;
    }
    &__box-width {
         margin-right: 20px;
    }
    &__checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    &__checkbox-label {
        font-size: 14px;
        line-height: 17px;
        cursor: pointer;
    }

    &__checkbox+label::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        border: 1px solid #C4C4C4;
        border-radius: 1px;
        margin-right: 12px;
        background-repeat: no-repeat;
        
    }

    &__checkbox:checked+label::before {
        border-color: #1C62CD;
        background-color: #1C62CD;;
    }  
}

.drop--active {
  
    &::before {
        transform: rotate(180deg);
    }
}
.show {
    opacity: 1;
    margin-bottom: 40px;
    max-height: 100%;
   
}

   



