.aside-filter {
    &__tabs {
        display: flex;
        margin-bottom: 45px;

    }

    &__tab {
        font-family: 'SF Pro Display', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: #C4C4C4;
        width: 50%;
        cursor: pointer;

    }

    &__title {
        font-family: 'SFProDisplay-Semibold', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: $title-color;
        padding-left: 26px;
    }

    &__toggle {
        display: block;
        cursor: pointer;
        margin-bottom: 20px;
        position: relative;

        &::before {
            content: '';
            background-image: url(../../images/content/drop-arrow.svg);
            width: 12px;
            height: 7.4px;
            position: absolute;
            left: 0px;
            bottom: 5px;
            transform: rotate(0deg);

        }
    }

    &__drop {
        &-content {
            display: flex;
            opacity: 0;
            margin-bottom: 0px;
            max-height: 0px;
        }
    }

    &__box {
        width: 50%;
    }

    &__box-width {
        margin-right: 20px;
    }

    &__checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__checkbox-label {
        font-size: 14px;
        line-height: 17px;
        cursor: pointer;
    }

    &__checkbox+label::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        border: 1px solid #C4C4C4;
        border-radius: 1px;
        margin-right: 12px;
        background-repeat: no-repeat;

    }

    &__checkbox:checked+label::before {
        border-color: #1C62CD;
        background-color: #1C62CD;
        ;
    }

    &__select {
        margin: 40px 0 40px;
        position: relative;

        &-box {
            position: relative;
            display: flex;
            justify-content: space-between;
            z-index: 2;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                border-bottom: 2px solid #C4C4C4;
                width: 100%;
            }

        }

        &-title {
            font-family: 'SFProDisplay-Semibold', sans-serif;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            padding-bottom: 14px;
            width: 100%;
        }

        &-btn {
            width: 82px;
            height: 20px;
            border: none;
            position: relative;
            cursor: pointer;
            font-family: 'Barlow';
            font-weight: 400;
            font-size: 14px;
            color: #48494D;
            line-height: 17px;

            svg {
                background-repeat: no-repeat;
                margin-left: 10px;
                transition: transform 0.3s linear;
                transform: rotate(180deg);
            }

        }

        &-wrapper {
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-content: flex-end;
            opacity: 0;
        }

        ul &-list {
            z-index: 10;
            background-color: #fff;
            position: absolute;
            top: -10px;
            min-width: 70px;
            min-height: 127px;
            border: 1px solid #E0E0E0;

        }

        &-item {
            margin-top: 10px;
            height: 20px;
            font-family: 'Barlow';
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: rgba(0, 0, 0, 0.6);
            width: 100%;
            cursor: pointer;
            span {
                padding-left: 10px;
            }
            &:hover {
                background: rgba(107, 126, 172, 0.05);
        }
    }

    }

.select-item--active{
background: rgba(107, 126, 172, 0.05);
}
}
.triggersSelect{
  opacity: 1;  
}

 .select--active {
    svg {
        transform: rotate(0deg);
    }
    
}
.drop--active {
    &::before {
        transform: rotate(180deg);
    }
}

.show {
    opacity: 1;
    margin-bottom: 40px;
    max-height: 100%;

}