.footer {
    background: #F0F0F4;

    &__top {
        padding-top: 43px;

        &-inner {
            display: flex;
            justify-content: space-between;
        }

        &-title {
            max-width: 230px;
            font-family: 'SF Pro Display', sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: $title-color;
        }

        &-newslatter {
            width: 295px;
        }

        &-social {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 250px;

            .social-list {
                display: flex;
                justify-content: center;

                &__item {
                    margin-right: 15px;

                }

            }
        }
    }

    &-form {
        margin-top: 34px;
        display: flex;
        justify-content: space-between;

        &__input {
            padding: 8px 12px;
            width: 201px;
            height: 33px;
            background: #FFFFFF;
            border: none;

            &::placeholder {
                font-family: 'SF Pro Display', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #C4C4C4;
            }
        }

        &__btn {
            padding: 10px 16px;
            background: #1C62CD;
            text-align: center;
            font-family: 'SFProDisplay-Semibold', sans-serif;
            font-weight: 600;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: #FFFFFF;
            border: none;

        }
    }

    &__list {
        &-link {
            font-family: 'SF Pro Display', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #2F3035;
        }
    }

    &__bottom {
        padding: 46px 0 22px;
        display: flex;
        justify-content: center;

        &-link {
            margin: 0 40px;
            font-family: 'SF Pro Display', sans-serif;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            color: $title-color;

        }
    }
}